[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "ustc"

[packages]
luma = "*"
luma-core = "*"
luma-oled = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
